.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    h1 {
      text-align: center;
    }

    button {
      min-width: 300px;
    }
  }
}
