.mainPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .sidebar {
      display: flex;
    }

    .router {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: aquamarine;
    }
  }
}
