.employeesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #88898b;

  .topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 45px 24px 8px;

    input {
      padding: 10px 15px;
      border-radius: 4px;
      border: 0px;
    }

    button {
      padding: 6px 15px;
      min-width: 100px;
      border: 0px;
      border-radius: 50px;
      margin-inline-start: 15px;
    }
  }

  .tableContainer {
    display: flex;
    // width: 100%;
    height: 100%;
    flex-direction: row;
    // padding: 10px;
    margin: 8px 24px 60px;

    border-radius: 4px;
    background-color: white;
  }
}
