.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: lightblue;
  align-items: baseline;
  padding: 30px;
  border-bottom: 1px solid black;

  header {
    font-family: 'Helvetica';
    font-size: 25px;
  }
}
