.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: bisque;

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: greenyellow;
  }
}
