.mainContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  // background-color: green;
  padding: 25px;

  header {
    // background-color: green;
    font-size: large;
    padding-bottom: 15px;
  }

  table {
    font-family: Arial, Helvetica, sans-serif;
    // background-color: red;

    th,
    td {
      border-bottom: 1px solid #ddd;
      text-align: left;
      min-height: 35px;
      max-height: 35px;
    }

    .actions {
      display: flex;
      justify-content: flex-start;
      gap: 15px;
    }
  }

  footer {
    display: flex;
    height: 100%;
    // background-color: blue;
    align-items: flex-end;
    justify-content: flex-end;

    .pagination {
      display: inline-block;
      // background-color: black;
      a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
      }

      a.active {
        background-color: #88898b;
        color: white;
        border-radius: 5px;
      }

      a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
      }
    }
  }
}
